/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif !important;
}

/* Form styles */

/* Input styles */
input{
  border-radius: 2px !important;
  
  height: 40px !important;
  
}
input:focus , .ant-picker{
  outline: none !important;
  box-shadow: none !important;
  
}
label{
  font-size: 16px !important;
  color: black !important;
}
.ant-form-item{
  margin: 10px 0 !important;; 
}
.ant-picker-input input{
  border: none !important;
}
.ant-picker{
  border-radius: 2px !important;
  border: 1px solid rgba(128, 128, 128, 0.521) !important;
  height: 40px !important;
}

/* Button styles */

.primary-button{
  background-color: #1890ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  
}
.primary-button:hover {
  background-color: #40a9ff;
}
.full-width-button{
  width: 100% !important;
}

/* Spinner styles */

.spinner-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.704);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.spinner-border{
  width: 5rem;
  height: 5rem;
  color: white !important;
}

/* Page styles */

.page-title{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.833);
  font-weight: bold;
}
.card-title{
  font-size: 22px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.627);

}
.normal-text{
  font-size: 1rem;
}
.card{
  box-shadow: 0 0 2px rgb(189, 188, 188);
  border-radius: 0 !important;
}

/* Link styles */

.anchor{
  font-size: 14px;
  color: #1890ff;
  text-decoration: none;
}
.anchor:hover{
  text-decoration: underline !important;
}

.cursor-pointer{
  cursor: pointer;
}

/* Authentication styles */

.authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./resources/medical-physician-doctor-man.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

.authentication-form {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.authentication .card-title{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.form-item-label {
  font-weight: 600;
  margin-bottom: 8px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  outline: none;
  font-size: 16px;
}

.input-field:focus {
  border-color: #40a9ff;
}
