.home-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .home-content {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  
  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .home-content p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 3rem;
  }
  
  .home-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-primary,
  .btn-secondary {
    display: inline-block;
    margin: 0 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border: none;
  }
  